@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 200px; /* 스크롤바의 높이 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 20px;
  max-height: 200px; /* 스크롤바 thumb의 최대 높이 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
